<nav style="margin-left: 10px;">
    <aside>
        <ul>
            <li><h1><img src="" alt=""><span><b>Admin</b></span></h1></li>
        </ul>
        <ul>
            <li id="home">
                <a href="#home">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
        
                </a>
             </li>

        </ul>
        <ul style="margin-top: -30px;">
            <li id="ecom">
                <a routerLink="/loginad">
                    <i class="fa fa-shopping-cart"></i>
                    <span><b>Login</b></span>
                    <i class="fa fa-angle-right"></i>
                </a>
             </li>

             <li id="comp">
                <a href="#comp">
                    <i class="fa fa-diamond"></i>
                    <span><b>Add Members</b></span>
                    <i class="fa fa-angle-right"></i>
                </a>
             </li>
             
             <li id="chart">
                <a href="#chart">
                    <i class="fa fa-line-chart"></i>
                    <span><b>loan</b></span>
                    <i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>Add Loan</p></li>
                <li><p>Manage Loan</p></li>
            </ul>
             </li>


             <li id="user">
                <a href="#user">
                    <i class="fa fa-users"></i>
                    <span>Loan Dues</span><i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>Normal home</p></li>
                <li><p>2nd</p></li>
                <li><p>3rd</p></li>
            </ul>
             </li>
             <li id="task">
                <a href="#task">
                    <i class="fa fa-tasks"></i>
                    <span>Savings</span><i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>Normal home</p></li>
                <li><p>2nd</p></li>
                <li><p>3rd</p></li>
            </ul>
             </li>
             <li id="even">
                <a href="#even">
                    <i class="fa fa-calendar-check-o"></i>
                    <span>Home</span><i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>Normal home</p></li>
                <li><p>2nd</p></li>
                <li><p>3rd</p></li>
            </ul>
             </li>
             
             
        </ul>
    </aside>
    <header>
        <h1>DASHBOARD PAGE</h1>
    </header>
</nav>
